@using System.Globalization;
@model ShoppingCartVM
<div class="container-fluid">

    <h2>Shopping Cart</h2>
    <div class="row">
        <div class="col-12 col-md-9 border-end border-2">
            <table class="table tabletable-hover scroll-table">
                <thead>
                    <tr>
                        <th><input class="form-check-input" type="checkbox" /></th>
                        <th colspan="2">All Items</th>
                        <th>Unit price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.Carts)
                    {
                        <tr>
                            <td><input class="form-check-input" type="checkbox" /></td>
                            <td><img class="img-table" src="@item.Product.Image" alt="product"> </td>
                            <td class="text-truncate">@item.Product.Title</td>
                            <td>@item.Product.Price.ToString("C", CultureInfo.CurrentCulture)</td>
                            <td class="text-truncate text-center"><input class="w-100" readonly value="1" type="number" /></td>
                            <td>@item.Product.Price.ToString("C", CultureInfo.CurrentCulture)</td>
                            <td><button class="btn btn-sm btn-outline-danger"><i class="fa-solid fa-xmark"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-3">
            <div class="container">

                <div class="row g-3">
                    <div class="col-12 d-flex justify-content-between">
                        <h5>Voucher</h5>
                        <p class="text-dark">Choice 1 <i class="fa-solid fa-circle-info"></i></p>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-info w-100"><i class="fa-solid fa-percent"></i> Coupon</button>
                    </div>
                </div>
                <hr />
                @*Sửa lại khi cần thiết*@
                <div class="row">
                    <div class="col-12 d-flex g-3 justify-content-between">
                        <p class="fw-bold">Provisional price: </p>
                        <p>@Model.TotalPrice.ToString("C", CultureInfo.CurrentCulture)</p>
                    </div>
                    <div class="col-12 d-flex g-3 justify-content-between">
                        <p class="fw-bold">Discount: </p>
                        <p>@(0.ToString("C", CultureInfo.CurrentCulture))</p>
                    </div>
                    <hr />
                    <div class="col-12 d-flex g-3 justify-content-between">
                        <p class="fw-bold">Provisional price: </p>
                        <p class="fw-bolder">@Model.TotalPrice.ToString("C", CultureInfo.CurrentCulture)</p>
                    </div>
                </div>
                <hr />
                <div class="row g-3">
                    <button class="btn btn-outline-success">Purchase</button>
                </div>
            </div>
        </div>
    </div>
</div>