@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid ">
    <div class="row justify-content-between">
        <div class="col-12 col-md-6">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Create your account</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="mb-3 row">
                    <div class="col-12 col-md-6">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-md-6">
                        <label asp-for="Input.Name">FullName</label>
                        <input asp-for="Input.Name" class="form-control" placeholder="Input your name..." />
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-12 col-md-6">
                        <label asp-for="Input.Password">Password</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Input your password..." />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-md-6">
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Input your confirm password..." />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-12 col-md-6">
                        <label asp-for="Input.Address">Address</label>
                        <input asp-for="Input.Address" class="form-control" placeholder="Input your address..." />
                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-md-6">
                        <label asp-for="Input.Region">Region</label>
                        <input asp-for="Input.Region" class="form-control" placeholder="Input your region..." />
                        <span asp-validation-for="Input.Region" class="text-danger"></span>
                    </div>

                </div>
                <div class="mb-3 row">
                    <div class="col-12 col-md-6">
                        <label asp-for="Input.PhoneNumber">Phone Number</label>
                        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Input your Phone number..." />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="col-12 col-md-6">
                        <label asp-for="Input.Zipcode">Zipcode</label>
                        <input asp-for="Input.Zipcode" class="form-control" placeholder="Input your Zipcode..." />
                        <span asp-validation-for="Input.Zipcode" class="text-danger"></span>
                    </div>

                </div>
                <div class="mb-3 row">
                    <label>Role (Sẽ xóa khi hoàn thành phần Identity)</label>
                    <div class="col-12">
                        <Select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control" aria-required="true" placeholder="choiceROle">
                            <option disabled selected>-Select the role-</option>
                        </Select>
                    </div>
                </div>
                <div class="row justify-content-center my-5">
                    <div class="col-0 col-md-3">
                    </div>
                    <div class="col-12 col-md-6">
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    </div>
                    <div class="col-0 col-md-3">
                    </div>

                </div>
            </form>
            <div class="or-container">
                <div class="line"></div>
                <div class="or-text">or</div>
                <div class="line"></div>
            </div>
            <section>

                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                    article
                                    about setting up this ASP.NET application to support logging in via external services
                                </a>.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins!)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
            <hr />
            <p><b>Already have an account?</b> <a asp-area="Identity" asp-page="/Account/Login">Log In</a></p>
        </div>
        <div class="col-12 col-md-6">
            <lottie-player class=" w-100" src="https://assets3.lottiefiles.com/packages/lf20_hi95bvmx/WebdesignBg.json" background="transparent" speed="1" loop autoplay>

            </lottie-player>
        </div>
    </div>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
